---
import '../global.css';
---

<script type='module'>
  'use strict';

  const firstMessageArr = [
    '¡Hola! ¿Qué tipo de plan nutricional buscas?',
    'Hola 👋 ¿En qué puedo ayudarte hoy?',
  ];

  const fab = document.getElementById('fab');
  const chatModal = document.getElementById('chat-modal');
  const closeBtn = document.getElementById('close-chat');

  //message
  const msgBox = document.getElementById('msg-box');
  const iaTemplate = document.getElementById('ia-template');
  const userTemplate = document.getElementById('user-template');
  const userForm = document.getElementById('user-form');
  const userInput = document.getElementById('user-input');
  const sndButton = document.getElementById('send-btn');

  const iaFragment = iaTemplate.cloneNode(true);
  const userFragment = userTemplate.cloneNode(true);

  const iaMsg = iaFragment.content.getElementById('ia-msg');
  const userMessage = userFragment.content.getElementById('user-msg');

  //events
  let userText = '';

  //listeners
  fab.addEventListener('click', () => {
    if (chatModal.style.display === 'block') chatModal.style.display = 'none';
    else chatModal.style.display = 'block';
  });

  closeBtn.addEventListener('click', () => {
    chatModal.style.display = 'none';
  });

  userInput.addEventListener('input', (e) => {
    userText = e.target.value;

    //verify button
    if (userText.length > 0) sndButton.removeAttribute('disabled');
    else sndButton.setAttribute('disabled', 'true');
  });

  userForm.addEventListener('submit', (e) => {
    e.preventDefault();

    createMessageUser(userText);
    //TODO: limpiear input
    userInput.textContent = '';
    //llamar a la api

    try {
    } catch (err) {
      console.log(err)
    } finally {
      
    }
  });

  //functions
  const createMessageIA = (message) => {
    iaMsg.querySelector('div').appendChild(document.createTextNode(message));
    msgBox.appendChild(iaMsg);
  };

  const createMessageUser = (message) => {
    userMessage
      .querySelector('div')
      .appendChild(document.createTextNode(message));
    msgBox.appendChild(userMessage);
  };
  if (userText.length > 0) sndButton.removeAttribute('disabled');
  else sndButton.setAttribute('disabled', 'true');
  //TODO: me falta agregar lo de la interaccion con el usuario. Leer mensajes de la ia con fetch y listo
  //todo: crear funcion para que cuando se pise afuerta del modal cerrar
  //first msg
  createMessageIA(
    firstMessageArr[Math.floor(Math.random() * firstMessageArr.length)]
  );
</script>

<!-- FAB -->
<div
  id='fab'
  class='fixed bottom-0 right-0 !m-[16px] rounded-full p-3 cursor-pointer z-50 outline-green-600 outline hover:scale-105 transition-all delay-75 hover:bg-green-50'
>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    width='24'
    height='24'
    viewBox='0 0 24 24'
    fill='none'
    stroke='currentColor'
    stroke-width='2'
    stroke-linecap='round'
    stroke-linejoin='round'
    class='lucide lucide-bot-icon lucide-bot'
  >
    <path d='M12 8V4H8'></path>
    <rect width='16' height='12' x='4' y='8' rx='2'></rect>
    <path d='M2 14h2'></path>
    <path d='M20 14h2'></path>
    <path d='M15 13v2'></path>
    <path d='M9 13v2'></path>
  </svg>
</div>
<!-- class='hidden fixed bottom-[80px] right-[20px] w-96 h-44 border border-slate-200 shadow z-50 bg-slate-50 rounded-lg' -->

<!-- Chat Modal -->
<div
  id='chat-modal'
  class='fixed bottom-[80px] right-[20px] w-96 h-96 border border-slate-200 shadow z-50 bg-slate-50 rounded-lg'
>
  <div class='relative h-full p-2 flex flex-col'>
    <button
      id='close-chat'
      class='absolute top-0 right-0 p-2 bg-transparent border-none cursor-pointer'
    >
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='24'
        height='24'
        viewBox='0 0 24 24'
        fill='none'
        stroke='currentColor'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
        class='lucide lucide-x-icon lucide-x'
      >
        <path d='M18 6 6 18'></path>
        <path d='m6 6 12 12'></path>
      </svg>
    </button>
    <p class='select-none text-lg font-semibold text-green-600'>
      Asistente NutriActive
    </p>

    <article
      id='msg-box'
      class='relative overflow-y-scroll flex flex-col flex-1 rounded-sm p-1'
    >
    </article>

    <form id='user-form'>
      <div class='flex justify-center items-center gap-1'>
        <input
          id='user-input'
          class='outline outline-green-500 rounded-sm px-1 bg-slate-100 flex-1 focus:outline-green-600 focus:bg-white'
          name='question'
          type='text'
          placeholder=''
        />
        <button
          id='send-btn'
          class='border-none bg-green-600 p-1.5 rounded-full text-white grid place-items-center cursor-pointer hover:bg-green-500 hover:scale-105 transition-all -rotate-45 disabled:bg-gray-400 disabled:cursor-default disabled:scale-100'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            viewBox='0 0 24 24'
            fill='none'
            stroke='currentColor'
            stroke-width='2'
            stroke-linecap='round'
            stroke-linejoin='round'
            class='lucide lucide-send-horizontal-icon lucide-send-horizontal'
          >
            <path
              d='M3.714 3.048a.498.498 0 0 0-.683.627l2.843 7.627a2 2 0 0 1 0 1.396l-2.842 7.627a.498.498 0 0 0 .682.627l18-8.5a.5.5 0 0 0 0-.904z'
            ></path>
            <path d='M6 12h16'></path>
          </svg>
        </button>
      </div>
    </form>
  </div>
</div>

<!-- templates -->
<template id='ia-template'>
  <div id='ia-msg' class='flex justify-start !mt-1.5'>
    <div class='bg-gray-300 rounded-lg p-1.5 break-words **max-w-[80%] w-fit**'>
    </div>
  </div>
</template>

<template id='user-template'>
  <div id='user-msg' class='flex justify-end !mt-1.5'>
    <div class='bg-green-500 rounded-lg p-1 break-words **max-w-[80%] w-fit**'>
    </div>
  </div>
</template>
