<a id="downloadLink" href="https://firebasestorage.googleapis.com/v0/b/nutriactive-cd30b.appspot.com/o/apk%2Fque.txt?alt=media&token=532de6d8-1209-40ca-ac47-ae406fa7999f">Presiona aquí para descargar</a>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const downloadLink = document.getElementById("downloadLink") as HTMLAnchorElement;
    if (downloadLink) {
      downloadLink.addEventListener("click", function(event) {
        event.preventDefault();
        fetch(this.href)
          .then(response => response.blob())
          .then(blob => {
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement("a");
            a.href = url;
            a.download = 'que.txt';
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
            window.URL.revokeObjectURL(url);
          })
          .catch(err => console.error('Error al descargar el archivo:', err));
      });
    }
  });
</script>
